name: Build and Test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        target: [x86_64-pc-windows-msvc]
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      
      - name: Build vnt-cli
        shell: bash
        run: cargo build --package vnt-cli --release --target ${{ matrix.target }} --features "ring-cipher,ws"
      
      - name: Upload Windows artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vnt-cli-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/vnt-cli.exe

  build-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: [x86_64-unknown-linux-gnu]
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      
      - name: Build vnt-cli
        run: cargo build --package vnt-cli --release --target ${{ matrix.target }} --features "ring-cipher,ws"
      
      - name: Upload Linux artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vnt-cli-${{ matrix.target }}
          path: target/${{ matrix.target }}/release/vnt-cli
